body{

	display        : flex;
	height         : 1000px;
	padding        : 10px;
}

html {
  height: 100%;
  
  
}


.sidenav {
	
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-group button {
  background-color:white ; 
  font-weight:bold;
  border: none; 
  border-radius:20px;
  color: black; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 


}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
 
}

.btn-group button:not(:last-child) {
  border-right: none; 
  
}


.btn-group button:hover {
  background-color: black;
   transition: 0.4s;
    color:white;
}

.btn-group {
  position: absolute;
  top: 70px;
  right: 10px;
  padding-right:80px;
  
  color: white;
}

.btn-group button {

  margin-right: 1px;
}

.log {
  position: absolute;
  top: 10px;
  right: 10px;
  
  
}

hr {
  
  border: none;
  border-top: 4px white;
  margin-top: 68px ;
}

.voice{
	position:absolute;
	top:10px;
	left:60px;
}


 
footer{
    background: #fcfcfc;
    font-family: sans-serif;
}
footer{
	position:absolute;
   top:1000px;
    left: 0;
    right: 0;
	
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}




	
	
  





.title p{
	
	position    : absolute;
	left        : 470px;
	top			: 40px;
	color       : white;
	font-size   : 100px;
	font-family : Papyrus;
	font-weight : Bold;
	
}

.myImage{
	position    : absolute;
	left        : 470px;
	top			: 500px;
	width       : 40%;
	height      : 40%;
	
}

.container{
	
	width        : 260px;
	background   : #030303;
	padding      : 30px 30px;
	border-radius: 5px;
	position     : absolute;
	left         : 180px;
	top          : 350px;
}

.container h1{
	font-size  : 25px;
	color      : #fff;
	font-family: Arial;
}

.userDetails input{
	display       : flex;
	flex-wrap     : wrap;
	height        : 30px;
	width         : 90%;
	outline       : 100px;
	border-radius : 10px;
	padding-left  : 15px;
	font-family   : Arial;
}

.button input{
	height        : 40px;
	width         : 100%;
	outline       : 100px;
	Font-size     : 18px;
	font-weight   : 500;
	border-radius : 10px;
	letter-spacing: 1px;
	background    : linear-gradient(#71b7e6, #9b59b6, #8859E0);
	font-family   : Arial;
}

.para{
	
	position   : absolute;
	left       : 1000px;
	top        : 350px;
	color      : white;
	font-size  : 20px;
	font-family: Papyrus;
	font-weight: Bold;
}